<table class="table">
    <thead>
        <tr>
            <th>Corredor</th>
            <th>Equipo</th>
            <th>Age</th>
            <th>Nationality</th>
            <th>Imagen</th>
            <th>Campeon</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let corredor of corredores" [ngClass]="{'champion': corredor.champion}">
            <td>{{corredor.name | uppercase}}</td>
            <td>{{corredor.team}}</td>
            <td>{{corredor.age}}</td>
            <td>{{corredor.nationality}}</td>
            <td><img [src]="corredor.imgCorredor" [alt]="corredor.name"></td>
            <td><span class="badge bg-primary" *ngIf="corredor.champion==true">Campeon del Mundo</span></td>
        </tr>
    </tbody>
</table>
